//Styleguide Colors

$charcoal-grey: #373d40;
$greeny-blue: #49c8a8;
$tiffany-blue: #60e6c5;
$cloudy-blue-two: #b1bfcd;
$pale-grey: #f5f8f9;
$tangerine: #ff9200;
$cloudy-blue: #cad7dd;
$sunflower-yellow: #ffd500;

//Grid Size
$grid-columns: 12;

//Styleguide Fonts

$font-style:  Arial;
$font-style-2: HelveticaNeue;



//Common
$shadow: #b6bdc0;
$transition-speed: 250ms;
$black: #000;
$white: #fff;